* {
  margin: 0;
  box-sizing: border-box;
}
.header {
  background-color: #000000;
  color: #f1f1f1;
  padding: 15px;
  width: 100%;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.menu {
  background-color: #000000;
  text-align: center;
  margin: auto;
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 900;
  color: #f1f1f1;
  cursor: pointer;
}

.menu ul {
  list-style: none;
  padding: 10px;
  display: inline-flex;
  text-align: center;
  margin: auto;
}
.menu ul li {
  padding: 15px;
  font-size: larger;
  border-radius: 20px;
}
.menu ul li:hover {
  background-color: #403c3c;
  border-radius: 20px;
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

body {
  background-color: #1f1f1f;
}

.footer {
  background-color: #000000;
  padding: 30px;
}

.footer ul {
  font-size: 17px;
}
